@charset "UTF-8";

/*
    em HTML é id, em CSS é # (só um elemento)
    em HTML é class, em CSS é . (vários elementos)
*/

body {
    background-color: rgb(147, 214, 166);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(50, 119, 70);
}

h1#principal {
    text-align: center;
    background-color: rgb(50, 119, 70);
    color: white;
}

h2 {
    color: rgb(79, 187, 109);
}

.basico {
    color: rgb(79, 187, 109);
}

.intermediario {
    color: rgb(176, 187, 79);
}

.avancado {
    color: rgb(187, 79, 79);
}

.destaque {
    background-color: rgba(190, 205, 50, 0.37);
}