* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 5px;
    background-color: blue;
}

body >  .caixa {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-weight: bold;
    background-color: rgba(255, 255, 0, 0.7);
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

nav {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

main {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

aside {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

footer {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
}